In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('data/NL2SQL_Query_Dataset.csv')

In [25]:
data

,Prompt,Query
0,Retrieve the full names and employee IDs of ac...,"SELECT full_name, employee_id FROM staff_direc..."
1,Find assets with a specific serial number and ...,SELECT * FROM assets WHERE serial_number = 'AB...
2,Get all hazards created in the last week.,SELECT * FROM hazards WHERE created_at >= NOW(...
3,Retrieve the names and order of event staff ro...,"SELECT name, order FROM event_staff_roles WHER..."
4,Find event actions performed by a specific use...,SELECT * FROM event_actions WHERE user_id = 12...
...,...,...
14810,"Get all hazards whose name is ""Chemical spill""",SELECT * FROM hazards WHERE name = 'Chemical s...
14811,Get all hazards that are owned by pharmacy wit...,SELECT * FROM hazards WHERE pharmacies_id = 12...
14812,Get all hazards that were created on 2023-01-01,SELECT * FROM hazards WHERE created_at = '2023...
14813,Get all hazards that were updated on 2023-02-02,SELECT * FROM hazards WHERE updated_at = '2023...
14814,Get all hazards that are owned by pharmacy wit...,SELECT * FROM hazards WHERE pharmacies_id = 12...

In [12]:
for i in range(100):
    with open(f'raw_queries_{100*i}_{100*i+100}.json', 'w') as f:
        json.dump(list(data.Query)[100*i:100*i+100], f)